@using System.Diagnostics
@using Shop.Application.Contract.Dtos.Products.Panels
@model ProductEditDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" action="http://localhost:5295/Products/Edit" enctype="multipart/form-data">
    <br>
    <img src="~/@Model.ViewImagePath" width="200px" height="200px" alt="" />
    <div class="form-group">
        <input asp-for="Image" type="file" name="Image" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" name="Name" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text" name="Description" class="form-control" placeholder="Enter Description">
    </div>
    <div class="form-check">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" type="number" name="Quantity" class="form-control" placeholder="Enter Quantity">
    </div>

    <input type="hidden" name="Id" value="@Model.Id">
    @{
        Debug.Write("");
    }
    @await Component.InvokeAsync("MultiSelectViewComponent",@Model.SelectedTShirtSizes)

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
