@model ProductDto

<div class="card" >
    <img class="card-img-top" src="~/@Model.ViewImagePath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <label>@Model.Sizes</label>
    </div>
</div>